@import "colors.css";

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fantasque Sans Mono;
    font-size: 15px;
    min-height: 0;
    /*padding: 1px 1px;*/
    /*margin: 1px 1px;*/
}

window#waybar {
    background-color: @base00;
    color: @base05_bright;
    padding-left: 5px;
    padding-right: 5px;
}

window#waybar.solo #window {
    background-color: @base00;
    color: @base05_bright;
    padding-left: 5px;
    padding-right: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.ffother #window {
    background-color: @base06;
    color: @base00;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base00;
    color: @base05_bright;
    border-bottom: 0px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
	color: @base05_bright;
    box-shadow: inherit;
    border-bottom: 3px solid @base06_bright;
}

#workspaces button.focused {
    background-color: @base05_bright;
	color: @base00;
}

#workspaces button.urgent {
    background-color: @base01;
}

#cpu, #battery, #clock, #memory, #backlight, #network, #pulseaudio, #temperature, #tray, #idle_inhibitor, #custom-vpn, #custom-screenshot, #custom-hamster, #language, #mode  {
    color: @base05_bright;
    background-color: @base00;
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid @base05_bright;
}

#custom-hamster {
    color: @base05_bright;
    background-color: @base00;
    border-right: 1px solid @base05_bright;
    border-left: 1px solid @base05_bright;
	padding: 5px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature.critical {
    background-color: #eb4d4b;
}


#idle_inhibitor.activated {
    background-color: @base00;
    color: @base06_bright;
}
#battery.charging {
    color: @base02_bright;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
