:root {
	--background: #000000;
	--foreground: #FFFFFF;
	--color0: #251f1f;
	--color8: #5e5e5e;
	--color1: #eb4509;
	--color9: #eb4509;
	--color2: #94e76b;
	--color10: #94e76b;
	--color3: #ffac18;
	--color11: #ffac18;
	--color4: #46aede;
	--color12: #46aede;
	--color5:  #e32c57;
	--color13: #e32c57;
	--color6:  #d6dbac;
	--color14: #d6dbac;
	--color7: #efefef;
	--color15: #efefef;
}

* {
	margin:0;
	padding:0;
}
body{
	background:var(--background);
	color:var(--color1);
	font-family:"Fantasque Sans Mono";
	height: 100%;
	width: 100%;
	font-size: 200%;
}

.wrapper {
	position:absolute;
	width: 100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display: grid;
	grid-template-rows: [row] 20% [row] 10% [row] 70%;
	grid-template-columns: [col] 33% [col] 33% [col] 33%;
}
.horiz {
	grid-row: 2;
	grid-column: 1 / span 3;
	list-style: none;
	font-size: 200%;
	text-align: center;
}

.horiz > li { display: inline-block; }

.horiz a {
	color: var(--color2);
	text-decoration: none;
}

.rotate {
	-moz-transform: rotate(45deg);
}

.horiz a:hover {
	color: var(--color4);
}

.vert {
	list-style: none;
	border: none;
}

.vert a {
	color: var(--color3);
	text-decoration:none;
}

.vert a:hover {
	color: var(--color4);
}

.l { grid-row: 3; grid-column: 1; text-align: right; }
.m { grid-row: 3; grid-column: 2; text-align: center; }
.r { grid-row: 3; grid-column: 3; text-align: left; }

.time {
	grid-row: 1;
	grid-column: 1 / span 3;
}

#time {
	filter:blur(1px);
	color: var(--color4);
	font-size:400%;
	width:100%;
	margin-bottom: 10px;
	text-align:center;
	display: block;
}


@media only screen and (max-width: 1024px) {
	.wrapper {
		width: 90%;
		height: 100%;
		display:block;
		text-align:center;
	}
	li { width: 100%; padding: 10px;}
	li a { margin: 0px; display: block; width: 100%; height: 100%; }
	li:hover{ background-color:var(--color0);}
	.horiz > li {
		display: block;
	}
	.l { text-align: center; }
	.m { text-align: center; }
	.r { text-align: center; }
	#time {
		display: none;
	}
}



