:root {
	--background: #282A36;
	--foreground: #F8F8F2;
	--color0: #000000;
	--color8: #4D4D4D;
	--color1: #FF5555;
	--color9: #FF6E67;
	--color2: #50FA7B;
	--color10: #5AF78E;
	--color3: #F1FA8C;
	--color11: #F4F99D;
	--color4: #BD93F9;
	--color12: #CAA9FA;
	--color5:  #FF79C6;
	--color13: #FF92D0;
	--color6:  #8BE9FD;
	--color14: #9AEDFE;
	--color7: #BFBFBF;
	--color15: #E6E6E6;
}

* {
	margin:0;
	padding:0;
}
html{
	height:90%;
	width:95%;
}
body{
	background:var(--background);
	color:var(--color1);
	/*font-family:"Fira Mono";*/
	font-family:"Fantasque Sans Mono";
	height:100%;
	width:100%;
}

#time {
	color: var(--color2);
	font-family:"Fira Mono";
	font-size: 6vw;
}

#seconds {
	color: var(--color2);
	font-family:"Fira Mono";
	font-size: 3vw;
}

.wrapper {
	margin:2.5%;
	display: grid;
	height: 100%;
	width: 100%;
	text-align:center;
	grid-gap: 10px;
	grid-template-columns: [col] 33% [col] 33% [col] 33%;
	grid-template-rows: [row] 20% [row] 30% [row] 50%;
	box-shadow: 2px 2px 5px 3px #000000;
}

.wrapper a {
	display: inline-block;
	color: var(--color3);
	text-decoration:none;
}

.wrapper a:hover {
	color: var(--color1);
	text-decoration:underline;
	transition: 0.15s color;
}

.linkstop {
    grid-column: 1 / span 3;
    grid-row: 1;
	text-align:center;
	font-size: 4vw;
	margin: 0 auto;
}

.linkstop ul {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  list-style-type:none;
}

.linkstop li {
	display: inline;
}

.linksbottom {
	list-style-type:none;
	text-align:center;
	font-size: 2vw;
}

.left {
	grid-column: 1;
}

.middle {
	grid-column: 2;
}

.right {
	grid-column: 3;
}

.time {
    grid-column: 1 / span 3;
    grid-row: 2;
}
