* {
	margin:0;
	padding:0;
}
html{
	height:100%;
	width:100%;
}
body{
	background:#1d2021;
	color:#d79921;
	margin:0 auto;
	font-family:"Droid Sans Mono";
	height:100%;
	width:100%;
}

#editor {
	color:#d79921;
	margin:auto;
	width:99%;
	height:99%;
	//padding: 5px;
	background: transparent;
	border: 1px dotted #282828;
	outline:none;
	overflow:hidden;
	font-family:"Droid Sans Mono";
	resize: none;
}

#time {
	font-size: 6vw;
	width: 100%;
	margin: auto;
	margin-top:20px;
	text-align:center;
}

@keyframes tictac {
	40% {
		opacity: 0.2;
	}
}

#time span {
	animation: tictac 3s alternate infinite;
}

.toplinks {
	list-style-type:none;
}

.toplinks li {
	display:inline;
	margin-right:20px;
}

.toplinks a {
	font-size: 3vw;
	color:#d79921;
	text-decoration:none;
}

.toplinks a:hover {
	color:#83a598;
	text-decoration:underline;
	transition: 0.15s color;
}

.links {
	list-style-type:none;
	margin-top: 10px;
	padding-left: 10px;
	text-align:right;
}

.links li {
	display:inline;
	margin-right: 50px;
}

.links a {
	font-size: 2vw;
	color:#d79921;
	text-decoration:none;
}

.links a:hover {
	color:#83a598;
	text-decoration:underline;
	transition: 0.15s color;
}

.wrapper {
	margin:0 auto;
	display: grid;
	height: 99%;
	width: 80%;
	text-align:center;
	//grid-gap: 10px;
	grid-template-columns: [col] 60% [col] 40% ;
	grid-template-rows: [row] 25% [row] 10% [row] auto [row] auto;
	box-shadow: 2px 0px 5px 3px #000000;
	//border: 1px solid #fff;
}

// small screen
@media screen and (max-width: 1080px) {
	.wrapper {
	    display: grid;
	}
}

.search {
	background: transparent;
	border: 0;
	color: #d79921;
	border-bottom: 1px solid #d79921;
	text-align:center;
	font-weight: bold;
	margin-top:20px;
}

.search:focus {
	outline-width:0px;
}

.box {
	//padding: 20px;
	font-size: 100%;
	//border: 1px solid #fff;
}

.links1 {
    grid-column: 1 ;
    grid-row: 3 / span 4;
}

.datetime {
    grid-column: 1 / span 2 ;
    grid-row: 1;
}

.notes {
    grid-column: 2 ;
    grid-row: 3 / span 4;
}


.links2 {
    grid-column: 1 / span 2 ;
    grid-row: 2;
}
